exportPattern("^[[:alpha:]]+")
import(shiny)
import(igraph)
import(colourpicker)
import(jsonlite)          
import(httr)              
import(dplyr)              
import(shinythemes)             
import(shinycssloaders)               
import(waiter)              
import(markdown)
import(rmarkdown)
import(knitr)
import(shinydashboard)
import(htmlwidgets)
import(heatmaply)
import(DT)
import(RColorBrewer)
import(shinyalert)
import(plotly)
import(crosstalk)
import(viridis)
import(parallel)
import(shinyjs)
import(data.table)
import(formattable)
import(gtools)
import(ggplot2)
import(network)
import(GO.db)
import(intergraph)
import(GGally)
import(showtext)
import(sna)
import(gdata)
import(ggrepel)
import(yaml)
import(plyr)
import(tidyr)
import(shinyTree)
import(AnnotationDbi)