@import url("//fonts.googleapis.com/css?family=Raleway:200&display=swap");

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
}

.scatterlayer .trace:last-child .points path {
    pointer-events: all;
}

h5 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

#subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
}

#importspace {
    height:1.5vh;
}

#sidebarItemExpanded {
    height: 88vh !important;
}

.shiny-notification {
    position:fixed;
    height: calc(10%);
    width: calc(20%);
    font-family: 'Raleway', sans-serif;
    font-size: 1.8vh;
 }

#text {
    left: 1vw;
    bottom: 1vh; 
    position: fixed;
    background-color: rgb(34, 45, 50) !important; 
}

#tabs {
    background-color: rgb(34, 45, 50) !important; 

}


.info-box-text {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    text-transform: capitalize;
}

.info-box p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vh;
}

.selectize-input { 
	white-space: nowrap;  
	overflow: auto; 
}

#search-row {
    height: 10vh !important;
}

.action {
	margin-top: 2.5vh; 
	height: 3.5vh; 
	line-height: 0.5vh;
}

#confirm { 
	margin-top: 2vh; 
	height: 3.5vh; 
	width: 10vw; 
	line-height: 0.5vh;
}

.navbar { 
	background-color: white !important;  
}

.logo { 
	background-color: rgb(34, 45, 50) !important; 
}

.content-wrapper {
	background-color:white; 
	width: 100vw;  
	 overflow: hidden !important; 
}

#sidebarCollapsed {
	/* overflow-y: hidden; */
    position: fixed;
}

.main-sidebar {
	line-height: 1.7;
	max-height: 100vh;
	background-color: rgb(34, 45, 50) !important; 

}

#testtt {
	background-color: rgb(34, 45, 50) !important; 
}

#import { 
	margin-top: 2vh; 
	height: 3.5vh; 
	width: 10vw; 
	line-height: 0.5vh;
}

#dataTable { 
	max-height: 35vh !important; 
}

#metabolite_table {
	max-height: 35vh !important; 
}

#cellular_metabolites {
	max-height: 35vh !important; 
}

#pvalues {
    max-height: 50vh !important; 
}

#gocounts {
    max-height: 50vh !important; 
}

.dashboard_head1 {
    height: 10vh;
}

.dashboard_head2 {
    height: 5vh;
}

#heatmap { 
	margin-top: 1vh;
	height: 67vh !important; 
	width: 80vw !important;
}

.statbox {
    height: 50vh !important; 
	width: 30vw !important;

}


#graph {
    cursor: default;
	width: 80vw;
    height: 70vh !important; 
    /*overflow-y: hidden; */
    padding-right: 1.7vh; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}


.shiny-notification {
	position:fixed;
	bottom: 3vh;
	right: 5vw;
}

.sidebar-toggle {
	visibility: hidden;
}

